
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
*{
    font-family: 'Ribeye', cursive;
}
body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    width:352px ;
    height: 198px;
    color: white;
    border:2px solid black;
    transform: scale(3) translateY(50%);
    animation: bouncing 0.5s ease 0s infinite alternate both;
}
.rick{
    height: 81px;
    max-width: 180px;
}
.start{
    color: white;
    margin-top: 10px;
    /* border-radius: 10px; */
    outline: none;
    font-size: 8px;
    background-color: #26c1a4;
    border: none;


}
.start:hover{
    background-color: teal;
    cursor: pointer;
}
@keyframes bouncing {
    0%{
        bottom: 0;
        box-shadow: 0 0 5px rgba(236, 233, 233, 0.5)
    }
    100%{
        bottom: 50px;
        box-shadow: 0 50px 50px rgba(160, 160, 160, 0.1);
    }
}